/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  width: 100%; }

body {
  width: 100%;
  min-height: 100vh;
  background: url("../img/fond1.jpg") repeat; }

.wrapper {
  max-width: 960px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 0 28px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 28px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 28px 2px rgba(0, 0, 0, 0.75); }

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 200px;
  background: url(../img/header-background.jpg);
  background-size: cover;
  padding: 10px 20px; }

@media screen and (min-width: 480px) {
  .header {
    background-position: center 20%; } }

@media screen and (min-width: 768px) {
  .header {
    min-height: 400px; } }

@media print {
  .header {
    min-height: 150px;
    background: none; } }

.heading {
  display: flex;
  justify-content: space-between; }

.heading__logo {
  width: 14%;
  align-self: flex-start; }

@media screen and (min-width: 768px) {
  .heading__logo {
    width: 25%;
    margin: 20px 10px; } }

.heading .title-container__title {
  display: block;
  margin: .4em 0;
  text-align: right;
  font-family: Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: aliceblue;
  text-shadow: 1px 1px 5px #000000; }

@media screen and (min-width: 768px) {
  .heading .title-container__title {
    margin: .6em 0; } }

@media screen and (min-width: 768px) {
  .heading .title-container__title {
    font-size: 5em;
    margin: .4em 0; } }

@media print {
  .heading .title-container__title {
    color: black; } }

.heading .title-container__subtitle {
  text-align: right;
  font-family: Arial, sans-serif;
  font-size: .8em;
  font-weight: bold;
  color: aliceblue;
  text-shadow: 1px 1px 6px #000000; }

@media screen and (min-width: 768px) {
  .heading .title-container__subtitle {
    font-size: 1.2em; } }

@media print {
  .heading .title-container__subtitle {
    color: black; } }

.language-list {
  display: flex;
  justify-content: space-around;
  padding: 5px; }

.language-list__link {
  display: flex;
  height: 40px;
  width: 40px;
  background: url(../img/sprite-icon.png);
  background-size: cover; }

.language-list__link--ru {
  background-position-x: -43px; }

.language-list__link--usa {
  background-position-x: -87px; }

.language-list__link--print {
  background-position-x: -128px; }

@media print {
  .language-list {
    display: none; } }

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #807c7f; }

@media screen and (min-width: 480px) {
  .nav__list {
    flex-flow: row wrap;
    align-content: stretch; } }

.nav__item {
  width: 100%;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #686669; }

.nav__item:last-child {
  border-bottom: 1px solid #686669; }

@media screen and (min-width: 480px) {
  .nav__item:last-child {
    border-bottom: none; } }

@media screen and (min-width: 480px) {
  .nav__item {
    width: auto;
    flex-grow: 1; } }

@media screen and (min-width: 960px) {
  .nav__item {
    flex-wrap: nowrap; } }

.nav__link {
  display: block;
  width: auto;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  color: aliceblue;
  text-shadow: 0 1px 3px #000000;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  background: #696866;
  background: -moz-linear-gradient(top, #696866 0%, #a89fa0 32%, #a89fa0 100%);
  background: -webkit-linear-gradient(top, #696866 0%, #a89fa0 32%, #a89fa0 100%);
  background: -o-linear-gradient(top, #696866 0%, #a89fa0 32%, #a89fa0 100%);
  background: -ms-linear-gradient(top, #696866 0%, #a89fa0 32%, #a89fa0 100%);
  background: linear-gradient(to bottom, #696866 0%, #a89fa0 32%, #a89fa0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696866', endColorstr='#a89fa0', GradientType=0); }

@media screen and (min-width: 480px) {
  .nav__link {
    flex: 1 auto; } }

@media screen and (min-width: 960px) {
  .nav__link {
    padding: 10px 0; } }

.nav__link--checked {
  -webkit-box-shadow: inset 0 0 30px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 30px 6px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 30px 6px rgba(0, 0, 0, 0.75); }

.nav__link:hover {
  -webkit-box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.75); }

@media print {
  .nav {
    display: none; } }

.content {
  background-color: #dcdcdc;
  padding: 10px;
  overflow: hidden;
  flex: 1 0 auto; }

.content__title {
  padding: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold; }

@media print {
  .content__title {
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bold; } }

.content__sub-title {
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: bold; }

.content__sub-title--comments {
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 500; }

.content__text {
  text-indent: 1.5em; }

iframe {
  width: 100%; }

.footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  background-color: #a79e9f; }

@media screen and (min-width: 480px) {
  .footer {
    flex-direction: row; } }

@media print {
  .footer {
    display: none; } }

.contacts-link {
  margin-bottom: 20px; }

@media screen and (min-width: 480px) {
  .contacts-link {
    width: 56%;
    margin-bottom: 0; } }

.contacts-link__title {
  font-family: Arial, sans-serif;
  font-size: .8em;
  font-weight: bold; }

.contacts-link__phones {
  font-family: Arial, sans-serif;
  font-size: .7em; }

.contacts-link__mail {
  font-family: Arial, sans-serif;
  font-size: .7em; }

.developer-post {
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media screen and (min-width: 768px) {
  .developer-post {
    flex-direction: row;
    align-items: flex-end; } }

.developer-post__title {
  font-family: Arial, sans-serif;
  font-size: .6em;
  font-weight: bold; }

.developer-post__mail {
  font-family: Arial, sans-serif;
  font-size: .6em; }
