@import "reset";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//==========================================Variables
$font: Arial, sans-serif;
//==========================================MIXINS
// generic mixin for screen width (both min and max)
@mixin media($from, $to) {
  @media screen and (min-width: $from + 0px) and (max-width: $to +0px) {
    @content;
  }
}

// generic mixin for screen width (max only)
@mixin media-min($width) {
  @media screen and (min-width: $width + 0px) {
    @content;
  }
}

// mixins for required sizes
@mixin media-l {
  @include media-min(960) {
    @content;
  }
}

@mixin media-m {
  @include media-min(768) {
    @content;
  }
}

@mixin media-s {
  @include media-min(480) {
    @content;
  }
}

//=======================GENERAL
html {
  width: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  background: url("../img/fond1.jpg") repeat;
}

.wrapper {
  max-width: 960px;
  margin: auto;
  min-height: 100vh;
  //display: flex;
  //flex-direction: column;
  -webkit-box-shadow: 0 0 28px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 28px 2px rgba(0,0,0,0.75);
  box-shadow: 0 0 28px 2px rgba(0,0,0,0.75);
}

//=====================================HEADER
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 200px;
  background: url(../img/header-background.jpg);
  background-size: cover;
  padding: 10px 20px;
  @include media-s {
    background-position: center 20%;
  }
  @include media-m {
    min-height: 400px;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  &__logo {
    width: 14%;
    align-self: flex-start;
    @include media-m {
      width: 25%;
      margin: 20px 10px;
    }
  }
  .title-container {
    &__title {
      display: block;
      margin: .6em 0;
      text-align: right;
      font: {
        family: $font;
        size: 3em;
        weight: bold;
      }
      color: aliceblue;
      text-shadow: 1px 1px 5px #000000;
      @include media-m {
        font-size: 5em;
        margin: .4em 0;
      }
    }
    &__subtitle {
      text-align: right;
      font: {
        family: $font;;
        size: .8em;
        weight: bold;
      }
      color: aliceblue;
      text-shadow: 1px 1px 6px #000000;
      @include media-m {
        font-size: 1.2em;
      }
    }
  }
}

//===========language-container
.language-list {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  &__link {
    display: flex;
    height: 40px;
    width: 40px;
    background: url(../img/sprite-icon.png);
    background-size: cover;
    &--ru {
      background-position-x: -43px;
    }
    &--usa {
      background-position-x: -87px;
    }
    &--print {
      background-position-x: -128px;
    }
  }
}

//==================================MENU-NAV
.nav {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #807c7f;
    @include media-s {
      flex-flow: row wrap;
      align-content: stretch;
    }
  }
  &__item {
    width: 100%;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #686669;
    &:last-child {
      border-bottom: 1px solid #686669;
      @include media-s {
        border-bottom: none;
      }
    }
    @include media-s {
      width: auto;
      flex-grow: 1;
    }
    @include media-l {
      flex-wrap: nowrap;
    }
  }
  &__link {
    display: block;
    width: auto;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 0 1px 3px #000000;
    font: {
      family: $font;
      size: 1.2em;
    }
    background: rgba(105, 104, 102, 1);
    background: -moz-linear-gradient(top, rgba(105, 104, 102, 1) 0%, rgba(168, 159, 160, 1) 32%, rgba(168, 159, 160, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(105, 104, 102, 1) 0%, rgba(168, 159, 160, 1) 32%, rgba(168, 159, 160, 1) 100%);
    background: -o-linear-gradient(top, rgba(105, 104, 102, 1) 0%, rgba(168, 159, 160, 1) 32%, rgba(168, 159, 160, 1) 100%);
    background: -ms-linear-gradient(top, rgba(105, 104, 102, 1) 0%, rgba(168, 159, 160, 1) 32%, rgba(168, 159, 160, 1) 100%);
    background: linear-gradient(to bottom, rgba(105, 104, 102, 1) 0%, rgba(168, 159, 160, 1) 32%, rgba(168, 159, 160, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696866', endColorstr='#a89fa0', GradientType=0);
    @include media-s {
      flex: 1 auto;
    }
    @include media-l {
      padding: 10px 0;
    }
    &--checked {
      -webkit-box-shadow: inset 0 0 30px 6px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0 0 30px 6px rgba(0,0,0,0.75);
      box-shadow: inset 0 0 30px 6px rgba(0,0,0,0.75);
    }
    &:hover {
      -webkit-box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.75);
      box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.75);
    }
  }
}

//==================================CONTENT
.content {
  background-color: #dcdcdc;
  padding: 10px;
  overflow: hidden;
  &__title {
    padding: 20px 0;
    font: {
      family: $font;
      size: 1.5em;
      weight: bold;
      }
  }
  &__sub-title {
    font: {
      family: $font;
      size: 1em;
      weight: bold;
    }
    &--comments {
      font: {
        family: $font;
        size: 1em;
        weight: 500;
      }
    }
  }
  &__text {
    text-indent: 1.5em;
  }
}

iframe{
  width: 100%;
}

//====================================FOOTER
.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  background-color: #a79e9f;
  @include media-s {
    flex-direction: row;
  }
}

.contacts-link {
  margin-bottom: 20px;
  @include media-s {
    width: 56%;
    margin-bottom: 0;
  }
  &__title {
    font: {
      family: $font;
      size: .8em;
      weight: bold;
    }
  }
  &__phones {
    font: {
      family: $font;
      size: .7em;
    }
  }
  &__mail {
    font: {
      family: $font;
      size: .7em;
    }
  }
}

.developer-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-m {
    flex-direction: row;
    align-items: flex-end;
  }
  &__title{
    font: {
      family: $font;
      size: .6em;
      weight: bold;
    }
  }
  &__mail {
    font: {
      family: $font;
      size: .6em;
    }
  }
}