.content {
  background-color: #dcdcdc;
  padding: 40px 20px;
  overflow: hidden;
  flex: 1 0 auto;
  -webkit-box-shadow: inset 0px 0px 13px 6px rgba(0,0,0,0.76);
  -moz-box-shadow: inset 0px 0px 13px 6px rgba(0,0,0,0.76);
  box-shadow: inset 0px 0px 13px 6px rgba(0,0,0,0.76);
  &__title {
    padding: 20px 0;
    font: {
      family: $font;
      size: 1.5em;
      weight: bold;
    }
    @media print {
      font: {
        family: $font;
        size: 1em;
        weight: bold;
      }
    }
  }
  &__sub-title {
    font: {
      family: $font;
      size: 1em;
      weight: bold;
    }
    &--comments {
      font: {
        family: $font;
        size: 1em;
        weight: 500;
      }
    }
  }
  &__text {
    text-indent: 1.5em;
  }
  &__list {
    padding-left: 40px;
  }
  &__clear-list {
    list-style: none;
  }
  &__num-list {
    margin-left: 40px;
  }
  &__img {
    display: block;
    margin: 20px auto;
    width: 40%;
    -webkit-box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.76);
    -moz-box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.76);
    box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.76);
  }
}
iframe{
  width: 100%;
}
