* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  @include media-l {
    background: url("../img/back-gener-2.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}

.wrapper {
  max-width: 960px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 0 28px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 28px 2px rgba(0,0,0,0.75);
  box-shadow: 0 0 28px 2px rgba(0,0,0,0.75);
}
